.footer{
    &__navigation{
        @include flexbox($direction: column, $gap: 10px, $centrer: false);
        @include padding($top: 0, $right: 0, $bottom: 0, $left: 0);
        li{
            @include police($weight: 500, $size: 16px, $lineheight: 18.75px);
            @include flexbox($direction: row, $gap: 10px, $centrer: false);
        }
    }
} 