body{
    position: relative;
    @include box($centrer: center, $width: 100%, $height: 100%);
}
.container{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.index{
    animation: chargement 1s linear 3s reverse forwards;
    opacity: 0.1;
    z-index: 0;    
    overflow: hidden;
}
.chargement{
    position: relative;
    @include box($centrer: center, $width: 250px, $height: 150px);
    animation: chargement 1s linear 3s forwards;  
    opacity: 1;
}
@keyframes chargement {
    0%{
        opacity: 1;
        overflow: visible;
    }
    100%{
        opacity: 0;
        overflow: hidden;
    }
}
.tajine{
    position: absolute;
    @include box($width: 50%, $height: 50%);
}
.ferme{
    animation: remplir reverse 1s ease 0s forwards 3;
}
.ouvert{
    opacity: 0;
    animation: remplir 1s ease 0s forwards 3;
}   
#gradientName stop:first-child{
    stop-color: $violet;
}
#gradientName stop{
    stop-color: $new-font;
}
#gradientName stop:nth-child(3){
    stop-color: $new-txt;
}
#gradientName stop:last-child{
    stop-color: $rose;
}
@keyframes remplir {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes grandir {
    0%{
        transform: scale(0.6);
    }
    100%{
        transform: scale(1);
    }
}
.lettre{
    position: relative;
    @include police($family: "Shrikhand", $familysuite: cursive, $weight: 400, $style: italic, $size: 30, $lineheight: 43.74);
    @include bgcolor($bgcolor: $txt-font-sombre, $element: "coeurplein");  
    padding: 0px 10px;
    text-transform: lowercase;
    transform: translatey(-1000px);
}
.element0{
    top: 30px;
    left: 0px;
}
.element1{
    top: -60px;
    left: 20px;
}
.element2{
    top: 30px;
    left: 20px;
}
@for $i from 0 to 3{
    .element#{$i}{
        animation: logo#{$i} .5s $i+.5s forwards;
    }
    @keyframes logo#{$i}{
        0%{
            transform: translatey(0px);
        }
        100%{
            transform: translatey(0px);
        }
}
}