.restaurant{
    main{
        height: auto;
    }
    &__img{
        @include size($width: 100%, $height: 275px);
        @media #{$medium}{
            $height: 383px;
        }
    }
    &__titre{
        @include box($direction: row, $centrer: center, $width: 100%);
        justify-content: space-between;
        
        @media #{$medium} {
            text-align: center;
            @include flexbox($centrer: center, $gap: 15px);            
        }
    }
    .menu{
        @include box($direction: column, $gap:40px, $centrer: center, $bgcolor: $principal-font, $paddingtop: 30px, $paddingright: 10px, $paddingbottom: 30px, $paddingleft: 10px, $width: 100%);
        @include radius($top: 30px, $right: 30px, $bottom: 0px, $left: 0px);
        margin: 0 auto;
        @media #{$medium}{
            @include size($width: 73.26%);
            margin: 0 auto;
        }
        &__complet{
            @include box($direction: column, $gap:12px, $width: 100%, $maxwidth: 634px);
            @media #{$medium}{
                width: 80%;
            }
        }
        &__titre{
            @include size($width: fit-content);
            @include padding($top: 0px, $right: 0px, $bottom: 5px, $left: 0px);
            background-image: linear-gradient(to right, $barre 40px, transparent 0px);
            background-position: 0 100%;
            background-repeat: no-repeat; 
            background-size: 100% 3px;
        }
    }
}
.restaurant footer, .restaurant .menu{
    position: relative;
    top: -60px;
}
.container{
    height: inherit;
}
