$blanc: white;
$vert: #99E2D0;
$vertfonce: rgba(0, 135, 102, 1);
$noir: black;
$bg-color: rgba(246, 246, 246, 1);
$localisation-color: rgba(234, 234, 234, 1);
$violet: #9356DC;
$grisfonce: rgba(53, 53, 53, 1);
$grisclair: rgba(126, 126, 126, 1);
$rose: #FF79DA;

$padding: 30px;

$footerCalledMixin: false;
$lineargradientCalledMixin: false;
$headerCalledMixin: false;
$iconCalledMixin: false;