@import "../abstracts/variables.scss";
body *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    padding: 0;
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: $txt-font-clair;
}
span{
    display: block;
}