@import "../abstracts/variables.scss";
body *, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    background: transparent;
    line-height: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: $noir;
}