body {
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 375px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 0.0625em;
}
body .erreur {
  display: none;
}
@media screen and (max-width: 374.99px) {
  body {
    background-color: black;
  }
  body .index {
    display: none;
  }
  body .erreur {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 70%;
    padding: 30px;
    margin: 50% 0;
  }
  body .erreur * {
    color: white;
  }
  body .erreur .fa-bug {
    color: red;
    font-size: 50px;
    animation: buging 0.5s infinite ease;
  }
  @keyframes buging {
    0% {
      font-size: 10px;
    }
    100% {
      font-size: 100px;
    }
  }
}

.container {
  width: 100%;
  height: auto;
}
.container main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 30px 15px 60px 15px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 0;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 30px 15px 60px 15px;
  background: rgb(246, 246, 246);
  color: black;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding: 0;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px;
  background: rgb(246, 246, 246);
  color: black;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 0;
  }
}

img {
  object-fit: cover;
}

body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
  line-height: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.choix, .menu__cmd, .fonctionnement__btn, .infobar__btn--explorer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 89.33%;
  height: 72.38px;
  max-width: 375px;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  opacity: 1;
  transition: opacity 1s ease;
}
.choix:hover, .menu__cmd:hover, .fonctionnement__btn:hover, .infobar__btn--explorer:hover {
  opacity: 0.6;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .choix, .menu__cmd, .fonctionnement__btn, .infobar__btn--explorer {
    width: 30%;
    height: 72.38px;
    max-width: 375px;
  }
}

.infobar__btn--explorer {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 218px;
  height: 50px;
}

.fonctionnement__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(246, 246, 246);
  color: black;
}
.fonctionnement__btn--numbers {
  width: 24px;
  height: 24px;
  border: 1px solid #9356DC;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #9356DC;
  color: black;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 0.88625em;
  line-height: 1.03875em;
  transform: translate(-10px);
}

.heart {
  width: 24px;
  height: 22px;
  position: relative;
}

.menu__cmd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 156px;
  height: 50px;
}

.choix {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 349px;
  padding: 15px;
  background: white;
  color: black;
  justify-content: space-between;
  border-radius: 15.04px;
}
.choix__titre, .choixdescription {
  width: 287px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .choix {
    width: 100%;
    max-width: 634px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  background: white;
  color: black;
  border-radius: 15px;
  position: relative;
}
.card__lien {
  background: white;
  color: black;
  width: 340px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .card__lien {
    width: 44%;
    height: auto;
  }
}
.card__lien:nth-child(n+4) .card__nouveau {
  display: none;
}
.card__img {
  width: 100%;
  height: 190px;
  border-radius: 15px;
  object-fit: cover;
}
.card__nouveau {
  display: flex;
  width: fit-content;
  padding: 3.75px 7.5px 3.75px 7.5px;
  background: #99E2D0;
  color: rgb(0, 135, 102);
  position: absolute;
  left: 75%;
  top: 5%;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875em;
  line-height: 1.056875em;
}
.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 25px 15px 15px;
}
.card__detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fa-solid, .fa-regular {
  color: #9356DC;
}

.fonctionnement__icons, .fa-heart, .fa-arrow-left {
  font-size: 22px;
}

.fa-list, .fa-tablet-screen-button {
  color: rgb(126, 126, 126);
}

.fa-heart {
  position: absolute;
  top: 0;
  left: 0;
}
.fa-heart.fa-solid {
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0;
}
.fa-heart.fa-regular {
  opacity: 1;
}

.card__lien:not(:nth-child(3)) .heart:hover .fa-solid, .restaurant .heart:not(.restaurant.favori .heart):hover .fa-solid {
  animation: apparence 1s step-start 0.5s forwards;
}
.card__lien:not(:nth-child(3)) .heart:hover .fa-regular, .restaurant .heart:not(.restaurant.favori .heart):hover .fa-regular {
  animation: disparaitre 1s forwards;
}
.card__lien:not(:nth-child(3)) .heart:not(:hover) .fa-solid, .restaurant .heart:not(.restaurant.favori .heart):not(:hover) .fa-solid {
  animation: disparaitre 1s step-start forwards;
}

@keyframes apparence {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disparaitre {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}
.index .card__lien:nth-child(3) .fa-solid, .restaurant.favori .heart .fa-solid {
  opacity: 1;
}
.index .card__lien:nth-child(3) .fa-regular, .restaurant.favori .heart .fa-regular {
  opacity: 0;
}

.fonctionnement__btnnumbers {
  border: 1px solid #9356DC;
  border-radius: 12px;
  /*border-radius: 12px 12px;*/
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 0.88625em;
  line-height: 1.03875em;
  transform: translate(-10px);
}

.soustitre {
  align-self: flex-start;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.758125em;
  padding: 0;
  width: 100%;
  height: auto;
}

header .header__logo {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.875em;
  line-height: 2.73375em;
  width: 100%;
  height: auto;
  text-align: center;
}

.infobar__description {
  color: rgb(53, 53, 53);
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
}

.restaurants .card__detailtitre {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
}
.restaurants .card__detaildescription {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 1.0625em;
  line-height: 1.245em;
}

.footer__logo {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.64em;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: fit-content;
    height: auto;
  }
}

.restaurant__nom {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.71875em;
  line-height: 2.55125em;
}
.restaurant .menu__titre {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
}
.restaurant .choix__titre {
  width: 100%;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
}
.restaurant .choix__description {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 0.94em;
  line-height: 1.101875em;
}
.restaurant .choix__prix {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 0.94em;
  line-height: 1.101875em;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 63px;
  padding: 0 20 0 20;
  justify-content: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
header .header__navbar .fa-arrow-left {
  color: rgb(53, 53, 53);
}
header .header__navbar .fa-arrow-left:hover {
  opacity: 0.6;
}
header .header__localisation {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 50px;
  background: rgb(234, 234, 234);
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
}
header .header__localisation * {
  color: rgb(53, 53, 53);
}

body .index header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
body .index header .header__navbar {
  display: none;
}

.footer {
  padding: 30px;
  background: rgb(53, 53, 53);
  color: white;
}
.footer * {
  color: white;
}

.infobar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 45px 30px 45px 30px;
  background: rgb(246, 246, 246);
  color: black;
  text-align: center;
}
.infobar__titre {
  align-self: center;
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 0 0;
}
@media screen and (min-width: 768px) {
  .footer__navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
.footer__navigation li {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.restaurant main {
  position: relative;
  height: auto;
}
.restaurant__img {
  width: 100%;
  height: 275px;
}
.restaurant__titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .restaurant__titre {
    text-align: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.restaurant .menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 30px 10px 30px 10px;
  background: rgb(246, 246, 246);
  color: black;
  border-radius: 30px 30px 0px 0px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .restaurant .menu {
    width: 73.26%;
    height: auto;
    margin: 0 auto;
  }
}
.restaurant .menu__complet {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 634px;
}
@media screen and (min-width: 768px) {
  .restaurant .menu__complet {
    width: 80%;
  }
}
.restaurant .menu__titre {
  width: fit-content;
  height: auto;
  padding: 0;
  background-image: linear-gradient(to right, rgb(153, 226, 208) 40px, transparent 0px);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}

.restaurant footer, .restaurant .menu {
  position: relative;
  top: -60px;
}

.container {
  height: inherit;
}

/*# sourceMappingURL=style.css.map */
