body {
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 0.0625em;
}
body .erreur {
  display: none;
}
@media screen and (max-width: 319px) {
  body {
    background-color: black;
  }
  body .index {
    display: none;
  }
  body .erreur {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 70%;
    padding: 30px;
    margin: 50% 0;
  }
  body .erreur * {
    color: white;
  }
  body .erreur .fa-bug {
    color: red;
    font-size: 50px;
    animation: buging 0.5s infinite ease;
  }
  @keyframes buging {
    0% {
      font-size: 10px;
    }
    100% {
      font-size: 100px;
    }
  }
}

.container {
  width: 100%;
  height: auto;
}
.container main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: auto;
  padding: 30px 15px 60px 15px;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    padding: 50px 12.5% 50px 12.5%;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: auto;
  padding: 30px 15px 60px 15px;
  background: rgb(246, 246, 246);
  color: black;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px 12.5% 50px 12.5%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px;
  background: rgb(246, 246, 246);
  color: black;
}
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    padding: 50px 12.5% 50px 12.5%;
  }
}

img {
  object-fit: cover;
}

body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

span {
  display: block;
}

.conteneur__choix, .menu__cmd, .fonctionnement__btn, .infobar__btn--explorer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 89.33%;
  height: 72.38px;
  max-width: 375px;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
  border-radius: 25px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 1s linear, box-shadow 1s linear;
}
.conteneur__choix:hover, .menu__cmd:hover, .fonctionnement__btn:hover, .infobar__btn--explorer:hover {
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  .conteneur__choix, .menu__cmd, .fonctionnement__btn, .infobar__btn--explorer {
    width: 30%;
    height: 72.38px;
    max-width: 335px;
  }
}

.conteneur__choix:hover .conteneur__choix--check, .conteneur__choix:focus .conteneur__choix--check, .conteneur__choix:active .conteneur__choix--check {
  color: white;
  background-color: rgb(153, 226, 208);
  width: 59px;
  height: inherit;
}
.conteneur__choix:hover .conteneur__choix--description, .conteneur__choix:focus .conteneur__choix--description, .conteneur__choix:active .conteneur__choix--description, .conteneur__choix:hover .conteneur__choix--description div, .conteneur__choix:focus .conteneur__choix--description div, .conteneur__choix:active .conteneur__choix--description div {
  width: calc(100% - 59px);
}

.infobar__btn--explorer {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 218px;
  height: 50px;
}

.fonctionnement__btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(246, 246, 246);
  color: black;
}
.fonctionnement__btn:hover .fonctionnement__icons, .fonctionnement__btn:focus .fonctionnement__icons {
  color: #9356DC;
  transition: color 1s linear;
}

.menu__cmd {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 156px;
  height: 50px;
  cursor: pointer;
}

.conteneur__choix {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 10px 10px;
  background: white;
  color: black;
  border-radius: 15.04px;
  position: relative;
}
.conteneur__choix--description {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  justify-content: space-between;
  transition: width 1s linear;
}
@media screen and (min-width: 768px) {
  .conteneur__choix {
    width: 100%;
    max-width: 634px;
  }
}
.conteneur__choix--check {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 0px;
  height: inherit;
  color: transparent;
  background-color: rgb(153, 226, 208);
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  right: 0px;
  transition: width 1s linear, background-color 1s linear;
}
.fa-heart {
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: relative;
}
.fa-heart:hover, .fa-heart:focus, .fa-heart:active {
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
  transition: background-image 2s, color 2s, -webkit-text-stroke 2s;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 340px;
  background: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 1s linear;
}
@media screen and (min-width: 768px) {
  .card {
    width: 44%;
    height: auto;
    max-width: 490px;
  }
}
.card:nth-child(n+4) .card__nouveau {
  display: none;
}
.card:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
}
.card * {
  cursor: pointer;
}
.card__lien {
  width: 100%;
  height: auto;
}
.card__img {
  width: 100%;
  height: 190px;
  border-radius: 15px;
  object-fit: cover;
}
.card__nouveau {
  display: flex;
  width: fit-content;
  padding: 3.75px 7.5px 3.75px 7.5px;
  background: #99E2D0;
  color: rgb(0, 135, 102);
  position: absolute;
  left: 75%;
  top: 5%;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875em;
  line-height: 1.056875em;
}
.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 25px 15px 15px;
}
.card__detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fa-heart {
  background: transparent;
  color: white;
  -webkit-text-stroke: 2px #9356DC;
}

.fa-circle-check {
  color: transparent;
  background-color: rgb(153, 226, 208);
}

.fonctionnement__icons, .fa-heart, .fa-arrow-left {
  font-size: 22px;
}

.fonctionnement__icons {
  color: rgb(126, 126, 126);
}

.fonctionnement__btnnumbers {
  border: 1px solid #9356DC;
  border-radius: 12px;
  /*border-radius: 12px 12px;*/
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 24px;
  height: 24px;
  background: #9356DC;
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 0.88625em;
  line-height: 1.03875em;
  transform: translate(-10px);
}

.soustitre {
  align-self: flex-start;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: 1.758125em;
  padding: 0;
  width: 100%;
  height: auto;
}

header .header__logo {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.875em;
  line-height: 2.73375em;
  width: 100%;
  height: auto;
  text-align: center;
}

.infobar__description {
  color: rgb(53, 53, 53);
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
}

.restaurants .card__detailtitre {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
}
.restaurants .card__detaildescription {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 1.0625em;
  line-height: 1.245em;
}

.footer__logo {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.64em;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: fit-content;
    height: auto;
  }
}

.restaurant__nom {
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.71875em;
  line-height: 2.55125em;
}
.restaurant .menu__titre {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
}
.restaurant .choix__titre {
  width: 100%;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1.125em;
  line-height: 1.318125em;
  text-align: start;
}
.restaurant .choix__description {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300;
  font-style: normal;
  font-size: 0.94em;
  line-height: 1.101875em;
}
.restaurant .choix__prix {
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  font-size: 0.94em;
  line-height: 1.101875em;
  display: block;
}

.choix__titre, .choix__description, .conteneur__choix--description div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 63px;
  padding: 0px 20px 0px 20px;
  justify-content: flex-start;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
header .header__navbar .fa-arrow-left {
  color: rgb(53, 53, 53);
  transition: opacity 1s linear;
}
header .header__navbar .fa-arrow-left:hover {
  opacity: 0.6;
}
header .header__localisation {
  display: flex;
  flex-direction: row;
  gap: 17px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 50px;
  background: rgb(234, 234, 234);
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
}
header .header__localisation * {
  color: rgb(53, 53, 53);
}

body .index header .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
body .index header .header__navbar {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  background: rgb(53, 53, 53);
  color: white;
}
.footer * {
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    background: rgb(53, 53, 53);
    color: white;
    align-items: center;
  }
  .footer * {
    color: white;
  }
}
.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0px 0px 0px;
}
@media screen and (min-width: 768px) {
  .footer__navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    background: rgb(53, 53, 53);
    color: white;
  }
  .footer__navigation * {
    color: white;
  }
}
.footer__navigation li {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.171875em;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.footer__navigation li a {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.infobar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 45px 30px 45px 30px;
  background: rgb(246, 246, 246);
  color: black;
  text-align: center;
}
.infobar__titre {
  align-self: center;
}

.restaurant main {
  height: auto;
}
.restaurant__img {
  width: 100%;
  height: 275px;
}
.restaurant__titre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .restaurant__titre {
    text-align: center;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.restaurant .menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  padding: 30px 10px 30px 10px;
  background: rgb(246, 246, 246);
  color: black;
  border-radius: 30px 30px 0px 0px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .restaurant .menu {
    width: 73.26%;
    height: auto;
    margin: 0 auto;
  }
}
.restaurant .menu__complet {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 634px;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .restaurant .menu__complet {
    width: 80%;
  }
}
.restaurant .menu__titre {
  width: fit-content;
  height: auto;
  padding: 0;
  background-image: linear-gradient(to right, rgb(153, 226, 208) 40px, transparent 0px);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
}
.restaurant .menu .menu__entrees {
  animation: apparaitre 1s calc(0 * 0.2s) ease forwards;
}
.restaurant .menu .menu__plats {
  animation: apparaitre 1s calc(1 * 0.2s) ease forwards;
}
.restaurant .menu .menu__desserts {
  animation: apparaitre 1s calc(2 * 0.2s) ease forwards;
}

@keyframes apparaitre {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.restaurant footer, .restaurant .menu {
  position: relative;
  top: -60px;
}

.container {
  height: inherit;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.index {
  animation: chargement 1s linear 9s reverse forwards;
  opacity: 0.1;
  z-index: 0;
  overflow: hidden;
}

.chargement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 250px;
  height: 150px;
  animation: chargement 1s linear 9s forwards;
  opacity: 1;
}

@keyframes chargement {
  0% {
    opacity: 1;
    overflow: visible;
  }
  100% {
    opacity: 0;
    overflow: hidden;
  }
}
.tajine {
  position: absolute;
  display: flex;
  width: 50%;
  height: 50%;
}

.ferme {
  animation: secouer 0.5s 2, remplir reverse 1s ease 1s forwards 8;
}

.ouvert {
  opacity: 0;
  animation: remplir 1s ease 1s forwards 8;
}

#gradientName stop:first-child {
  stop-color: #9356DC;
}

#gradientName stop {
  stop-color: rgb(0, 135, 102);
}

#gradientName stop:nth-child(3) {
  stop-color: #99E2D0;
}

#gradientName stop:last-child {
  stop-color: #FF79DA;
}

@keyframes remplir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes secouer {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(20px, 0px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes grandir {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
.lettre {
  position: relative;
  font-family: "Shrikhand", cursive !important;
  font-weight: 400;
  font-style: italic;
  font-size: 1.875em;
  line-height: 2.73375em;
  background: linear-gradient(360deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: transparent;
  padding: 0px 10px;
  text-transform: lowercase;
  transform: translatey(-1000px);
}

.element1 {
  top: 30px;
  left: 55px;
}

.element2 {
  top: -5px;
  left: 20px;
}

.element3 {
  top: -35px;
  left: 0px;
}

.element4 {
  top: -60px;
  left: -10px;
}

.element5 {
  top: -60px;
  left: -5px;
}

.element6 {
  top: -35px;
  left: -20px;
}

.element7 {
  top: -5px;
  left: -35px;
}

.element8 {
  top: 30px;
  left: -70px;
}

.element1 {
  animation: logo1 1s 1.5s forwards;
}

@keyframes logo1 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element2 {
  animation: logo2 1s 2.5s forwards;
}

@keyframes logo2 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element3 {
  animation: logo3 1s 3.5s forwards;
}

@keyframes logo3 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element4 {
  animation: logo4 1s 4.5s forwards;
}

@keyframes logo4 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element5 {
  animation: logo5 1s 5.5s forwards;
}

@keyframes logo5 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element6 {
  animation: logo6 1s 6.5s forwards;
}

@keyframes logo6 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element7 {
  animation: logo7 1s 7.5s forwards;
}

@keyframes logo7 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}
.element8 {
  animation: logo8 1s 8.5s forwards;
}

@keyframes logo8 {
  0% {
    transform: translatey(0px);
  }
  100% {
    transform: translatey(0px);
  }
}

/*# sourceMappingURL=style.css.map */
