.card{    
    @include box($direction : column, $centrer: center, $bgcolor: $txt-font-sombre, $width: 100%, $maxwidth: 340px);
    @include radius(15px);
    @include shadow($right: 4px, $bottom: 15px, $colorshadow: $shadow); 
    position: relative;
    transition: box-shadow 1s linear;
    @media #{$medium}{
        @include size($width: 44%, $maxwidth: 490px);
    } 
    &:nth-child(n+4){
        .card__nouveau{
            display: none; 
        }
    }
    &:hover{
        @include shadow($right: 4px, $bottom: 15px, $colorshadow: $shadowfonce);
    }
    *{
        cursor: pointer;
    }
    &__lien{
        @include size($width: 100%);
    }
    &__img{
        @include size($width: 100%, $height: 190px);
        @include radius($radius: 15px);
        object-fit: cover;
        @media #{$medium}{

        }
    }
    &__nouveau{
        @include box($paddingtop: calc($padding / 8), $paddingright: calc($padding / 4), $paddingbottom: calc($padding / 8), $paddingleft: calc($padding / 4), $bgcolor: $new-txt, $element: "new", $width: fit-content);
        position: absolute;
        left: 75%;
        top: 5%;
        @include police($weight: 500, $size: 14, $lineheight: 16.91); 
    }
    &__info{
        @include box($direction: row, $centrer: space-between, $paddingtop: 15px, $paddingright: 25px, $paddingbottom: 15px, $paddingleft: 15px, $width: 100%);
    } 
    &__detail{
        @include flexbox($direction: column, $gap: 5px, $centrer: false);
    }
}