%btn{
    @include flexbox($direction: row, $gap: 20px);
    @include size($width: 325px, $height: 72.38px);
    @include police($weight: 500, $size: 16px, $lineheight: 18.75px);
    @include radius(25px);
    @include shadow($right: 4px, $bottom: 15px);
    @include bgcolor($bgcolor: $bg-color, $element: "linearbtn");
    opacity: 1;
    transition: opacity 1s ease;
    &:hover{
        opacity:.6; 
        box-shadow: none; /*A modifier par @include shadow()*/
    }
}
.infobar{
    &__btn--explorer{
        @extend %btn;
        @include radius(25px);
        @include size($width: 218px, $height: 50px);
    }
}
.fonctionnement{
    &__btn{
        @extend %btn;
        @include bgcolor($bgcolor: $bg-color, $element: null);
        justify-content: flex-start;
        &--numbers{
            @include size($width: 24px, $height: 24px);
            border: 1px solid $violet;
            @include radius(12px); /*border-radius: 12px 12px;*/
            @include flexbox();
            @include bgcolor($bgcolor: $violet);
            @include police($size: 14.18px, $lineheight: 16.62px);
            transform: translate(-10px);
        }
    }
}
.heart{
    @include size($width: 24px, $height: 22px);
    position: relative;
}
.menu{
    &__cmd{
        @extend %btn;
        @include size($width: 156px, $height: 50px);
    }
}
.choix{
    @include flexbox($direction: row, $gap: 5px, $wrap: wrap);
    justify-content: space-between;
    @include radius(15.04px);
    @include padding($val: 15px);
    @include bgcolor();
    @extend %btn;
    @include size($width: 349px);
    &__titre, &description{
        @include size($width: 287px);
    }
}