%btn{
    @include box($direction : row, $gap: 20px, $bgcolor: $bg-color, $element: "linearbtn", $width: 89.33%, $maxwidth: 375px, $height: 72.38px);
    @include police($weight: 500, $size: 16, $lineheight: 18.75);
    @include radius(25px);
    @include shadow($right: 4px, $bottom: 15px);
    opacity: 1;
    transition: opacity 1s ease;
    &:hover{
        opacity:.6; 
        @include shadow($shadow: none);
    }

    @media #{$medium}{
        @include size($width: 30%, $maxwidth: 375px, $height: 72.38px);
    }
}
.infobar{
    &__btn--explorer{
        @include radius(25px);
        @include box($centrer: center, $width: 218px, $height: 50px);
        @extend %btn;
    }
}
.fonctionnement{
    &__btn{
        @extend %btn;
        @include box($centrer: flex-start, $bgcolor: $bg-color);
        &--numbers{
            @include size($width: 24px, $height: 24px);
            border: 1px solid $violet;
            @include radius(12px);

            @include box($direction : row, $gap: 0px, $centrer: center, $bgcolor: $violet);
            @include police($size: 14.18, $lineheight: 16.62);
            transform: translate(-10px);
        }
    }
}
.heart{
    @include size($width: 24px, $height: 22px);
    position: relative;
}
.menu{
    &__cmd{
        @extend %btn;
        @include box($centrer: center, $width: 156px, $height: 50px);
    }
}
.choix{
    @include box($direction : row, $gap: 5px, $centrer: center, $wrap: wrap, $padding: 15px, $bgcolor: $blanc, $width: 349px);
    justify-content: space-between;
    @include radius(15.04px);
    @extend %btn;
    &__titre, &description{
        @include size($width: 287px);
    }
    @media #{$medium}{
        width: 100%;
        max-width: 634px;
    }
}