.fa-solid{
    background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);  
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
}
.fonctionnement__icons, .heart{
    font-size: 22px;
}
.fa-list, .fa-tablet-screen-button{
    color: $grisclair;
}
.fa-heart{
    @include size($width: 22px, $height: 21px);
    &.fa-solid{
        
        // display: none;
    }
    &.fa-regular{
        color: $violet;
    }
}
.restaurants{
    .card__info, .card__detail, .heart{
        border: 1px solid red;
    }
    // .heart{
    //     &:hover{
    //         .fa-solid{
    //             display: inline;
    //             transform: scale(0);
    //             animation-name: apparence;
    //             animation-duration: 0.5s;
    //             transform: initial;
                
    //         }
    //         .fa-regular{
    //             display: none;
    //         }
    //     }
    // }
}
@keyframes apparence{
    from{transform: scale(0);}
    to{transform: initial;}
}
.restaurants{
    .card__lien:nth-child(3){
        @include changerCoeur($solid: true);
    }
}
.fonctionnement{
    &__btn{
        &numbers{
            @include size($width: 24px, $height: 24px);
            border: 1px solid $violet;
            border-radius: 12px 12px;
            display: flex !important;
            @include centrer;
            @include bgcolor($violet);
            @include police($family: "Roboto", $familysuite: sans-serif, $size: 14.18px, $lineheight: 16.62px);
            transform: translate(-10px);
            box-sizing: border-box;
        }
    }
}