.fa-solid, .fa-regular {
   color: $violet;
}
.fonctionnement__icons, .fa-heart, .fa-arrow-left{
    font-size: 22px;
}
.fa-list, .fa-tablet-screen-button{
    color: $grisclair;
}
.fa-heart{
    position: absolute;
    top: 0;
    left: 0;
    &.fa-solid{
        @include bgcolor($bgcolor: $violet, $element: "iconheart");
        opacity: 0;
    }
    &.fa-regular{
        opacity: 1;
    }
}
.card__lien:not(:nth-child(3)) .heart, .restaurant .heart:not(.restaurant.favori .heart){
    &:hover{
        .fa-solid{
            animation: apparence 1s step-start 0.5s forwards;
        }
        .fa-regular{
            animation: disparaitre 1s forwards;
        }
    }
    &:not(:hover){
        .fa-solid{
            animation: disparaitre 1s step-start forwards;
        }
    }
}
@keyframes apparence{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity: 1;}
}
@keyframes disparaitre{
    0%{opacity: 1;}
    25%{opacity: 0.75;}
    50%{opacity: 0.5;}
    75%{opacity: 0.25;}
    100%{opacity: 0;}  
}
.index .card__lien:nth-child(3), .restaurant.favori .heart{
    @include changerCoeur($solid: true);
}
.fonctionnement{
    &__btn{
        &numbers{
            @include size($width: 24px, $height: 24px);
            border: 1px solid $violet;
            @include radius($val: 12px); /*border-radius: 12px 12px;*/
            @include flexbox($centrer: true, $important: true);
            @include bgcolor($violet, $element: "iconnumber");
            @include police($family: "Roboto", $familysuite: sans-serif, $size: 14.18px, $lineheight: 16.62px);
            transform: translate(-10px);
        }
    }
}