@import "./variables.scss";

@mixin box($direction : null, $gap: null, $wrap: null, $centrer: null, $justify: true, $important: false, $padding: null, $paddingtop: null, $paddingright: null, $paddingbottom: null, $paddingleft: null, $bgcolor: null, $element: null, $width: null, $maxwidth: null, $height: null, $maxheight: null){
    @include flexbox($direction : $direction, $gap: $gap, $wrap: $wrap, $centrer: $centrer, $justify: $justify, $important: $important);
    @include size($width: $width, $maxwidth: $maxwidth, $height: $height, $maxheight: $maxheight);
    @include padding($padding: $padding, $top: $paddingtop, $right: $paddingright, $bottom: $paddingbottom, $left: $paddingleft);
    @include bgcolor($bgcolor: $bgcolor, $element: $element);

}

@mixin flexbox($direction : null, $gap: null, $wrap: null, $centrer: null, $justify: true, $important: false){
    @if $important {
        display: flex !important;
    }
    @else{
        display: flex;
    }
    @if($direction != null){
        flex-direction: $direction;
    }
    @if ($gap != null){
        gap: $gap;
    }
    @if ($wrap != null){
        flex-wrap: $wrap;
    }    
    @if ($centrer == center) {
        @if ($wrap == wrap){
            align-content: $centrer;
        }
        @if ($justify == true){
            justify-content: $centrer;
        }
        align-items: $centrer;
        align-self: $centrer;      
    }
    @else if ($centrer == space-between or $centrer == flex-start){
        justify-content: $centrer;
        align-items: center;
    }
}
@mixin radius($radius: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($radius != 0){
        border-radius: $radius;
    }
    @else if ($top != 0 or $right != 0 or $bottom != 0 or $left != 0){
        border-radius: $top $right $bottom $left;
    } 
}
@mixin shadow($shadow: 0, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px, $colorshadow: $shadow){
    @if ($shadow != 0){
        box-shadow: $shadow;
    }
    @else{
        box-shadow: $top $right $bottom $left $colorshadow;
    }
}
@mixin bgcolor($bgcolor: $txt-font-sombre, $element: null){  
    @if ($bgcolor != null){
        @if ($element == "footer"){
            background: $bgcolor; 
            color: $txt-font-sombre;
            *{color: $txt-font-sombre;}
        }
        @else if ($element == "coeurplein"){
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);
            -webkit-background-clip: text; 
            color: transparent;
            -webkit-text-stroke: transparent;
        }
        @else if ($element == "coeurvide"){
            background: transparent;
            color: $txt-font-sombre;
            -webkit-text-stroke: 2px $violet;
        }
        @else if ($element == "iconcheck"){
            color: $bgcolor;
            background-color: $barre;
        }
        @else if ($element == "iconnumber"){
            background: $bgcolor;
            color: $txt-font-sombre;
        }
        @else if ($element == "linearbtn"){
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);
            color: $txt-font-sombre;
        }    
        @else if ($element == "localisation"){
            background: $bgcolor;
            *{color: $secondaire-font;}
        }
        @else if ($element == "new"){
            background: $bgcolor;
            color: $new-font;
        }
        @else{
            background: $bgcolor; 
            color: $txt-font-clair;
        }
    }
}
@mixin size($width: auto, $maxwidth: null, $height: auto, $maxheight: null){ 
    @if $width != null{
        width: $width;
    }
    @if $height != null{
        height: $height;
    }
    @if $maxwidth != null{
        max-width: $maxwidth;
    }
    @if $maxheight != null{
        max-height: $maxheight;
    }
}
@mixin padding($padding: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($padding != null){
        padding: $padding;
    }
    @else{
        padding: $top $right $bottom $left;
    }
}
@mixin police($family: "Roboto", $familysuite: sans-serif, $weight: 400, $style: normal, $size: 16, $lineheight: 1, $em: true){
    font-family:  $family, $familysuite !important;
    font-weight: $weight;    
    font-style: $style;
    @if $em{
        $size: calc($size / 16)+em;
        $lineheight: calc($lineheight / 16)+em;
    }
    @else{
        $size: $size+px;
        $lineheight: $lineheight+px;
    }
    font-size: $size;
    line-height: $lineheight;
}
@mixin changerCoeur($solid: false, $regular: true){
    @if $solid {
        .fa-solid{
            opacity: 1;
        }
        .fa-regular{
            opacity: 0;
        }
    }
    @else{
        .fa-solid{
            opacity: 0;
        }
        .fa-regular{
            opacity: 1;
        }
    }
}