//Couleurs
$txt-font-sombre: white;
$txt-font-clair: black;

$new-txt: #99E2D0;
$new-font: rgba(0, 135, 102, 1);

$principal-font: rgba(246, 246, 246, 1);
$secondaire-font: rgba(53, 53, 53, 1);
$localisation-font: rgba(234, 234, 234, 1);

$violet: #9356DC;
$rose: #FF79DA;

$shadow: rgba(0, 0, 0, 0.1);
$shadowfonce: rgba(0, 0, 0, 0.5);

$barre: rgba(153, 226, 208, 1);

$icon: rgba(126, 126, 126, 1);

$padding: 30px !default;
$element: null;


$erreur: "screen and (max-width: 319px)";
$medium: "screen and (min-width: 768px)";
$large: "screen and (min-width: 1024px)";

 