@import "./variables.scss";

@mixin box($direction : null, $gap: null, $wrap: null, $centrer: null, $important: false, $padding: null, $paddingtop: null, $paddingright: null, $paddingbottom: null, $paddingleft: null, $bgcolor: null, $element: null, $width: null, $maxwidth: null, $height: null, $maxheight: null){
    @include flexbox($direction : $direction, $gap: $gap, $wrap: $wrap, $centrer: $centrer, $important: $important);
    @include size($width: $width, $maxwidth: $maxwidth, $height: $height, $maxheight: $maxheight);
    @include padding($padding: $padding, $top: $paddingtop, $right: $paddingright, $bottom: $paddingbottom, $left: $paddingleft);
    @include bgcolor($bgcolor: $bgcolor, $element: $element);
}

@mixin flexbox($direction : null, $gap: null, $wrap: null, $centrer: null, $important: false){
    @if $important {
        display: flex !important;
    }
    @else{
        display: flex;
    }
    @if($direction != null){
        flex-direction: $direction;
    }
    @if ($gap != null){
        gap: $gap;
    }
    @if ($wrap != null){
        flex-wrap: $wrap;
    }    
    @if ($centrer == center) {
        @if ($wrap == wrap){
            align-content: $centrer;
        }
        justify-content: $centrer;
        align-items: $centrer;
        align-self: center;      
    }
    @else if ($centrer == space-between or $centrer == flex-start){
        justify-content: $centrer;
        align-items: center;
    }
}
@mixin radius($radius: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($radius != 0){
        border-radius: $radius;
    }
    @else if ($top != 0 or $right != 0 or $bottom != 0 or $left != 0){
        border-radius: $top $right $bottom $left;
    } 
}
@mixin shadow($shadow: 0, $top: 0px, $right: 0px, $bottom: 0px, $left: 0px, $colorshadow: rgba(0, 0, 0, 0.15)){
    @if ($shadow != 0){
        box-shadow: $shadow;
    }
    @else{
        box-shadow: $top $right $bottom $left $colorshadow;
    }
}
@mixin bgcolor($bgcolor: $blanc, $element: null){  
    @if ($bgcolor != null){
        @if ($element == "footer"){
            background: $bgcolor; 
            color: $blanc;
            *{color: $blanc;}
        }
        @else if ($element == "iconheart"){
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);  
            -webkit-background-clip: text; 
            background-clip: text;
            color: transparent;
        }
        @else if ($element == "iconnumber"){
            background: $bgcolor;
            color: $blanc;
        }
        @else if ($element == "linearbtn"){
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);
            color: $blanc;
        }    
        @else if ($element == "localisation"){
            background: $bgcolor;
            *{color: $grisfonce;}
        }
        @else if ($element == "new"){
            background: $bgcolor;
            color: $vertfonce;
        }
        @else{
            background: $bgcolor; 
            color: $noir;
        }
    }
}
@mixin size($width: auto, $maxwidth: null, $height: auto, $maxheight: null){ 
    @if $width != null{
        width: $width;
    }
    @if $height != null{
        height: $height;
    }
    @if $maxwidth != null{
        max-width: $maxwidth;
    }
    @if $maxheight != null{
        max-height: $maxheight;
    }
}
@mixin padding($padding: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($padding != null){
        padding: $padding;
    }
    @else{
        padding: $top $right $bottom $left;
    }
}
@mixin police($family: "Roboto", $familysuite: sans-serif, $weight: 400, $style: normal, $size: 16, $lineheight: 1, $em: true){
    font-family:  $family, $familysuite !important;
    font-weight: $weight;    
    font-style: $style;
    @if $em{
        $size: calc($size / 16)+em;
        $lineheight: calc($lineheight / 16)+em;
    }
    @else{
        $size: $size+px;
        $lineheight: $lineheight+px;
    }
    font-size: $size;
    line-height: $lineheight;
}
@mixin changerCoeur($solid: false, $regular: true){
    @if $solid {
        .fa-solid{
            opacity: 1;
        }
        .fa-regular{
            opacity: 0;
        }
    }
    @else{
        .fa-solid{
            opacity: 0;
        }
        .fa-regular{
            opacity: 1;
        }
    }
}
@mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);
  
    @if $raw-query {
      $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
      );
  
      @media #{$query} {
        @content;
      }
    } @else {
      @error 'No value found for `#{$breakpoint}`. '
           + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }