@mixin flexbox($direction : row, $gap: 0px){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
@mixin centrer{
    justify-content: center;
    align-items: center;
}
@mixin radius($val:0){
    border-radius: 20px + $val;
}
@mixin radiuscard($val1: 0, $val2: 0, $val3: 0, $val4: 0){
        border-radius: $val1 $val2 $val3 $val4;
}
@mixin shadow($val1: 0px, $val2: 0px, $val3: 0px, $val4: 0px, $colorshadow: rgba(0, 0, 0, 0.15)){
    box-shadow: $val1 $val2 $val3 $val4 $colorshadow;
}
@mixin bgcolor($bgcolor: white, $color: null, $lineargradientCalledMixin: false, $iconCalledMixin: false){  
    @if $color != null{
        background: $bgcolor; 
        color: $color;
        *{color: $color;}
    }
    @else if ($color == null){
        @if $iconCalledMixin == true{
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);  
            -webkit-background-clip: text; 
            background-clip: text;
            color: transparent; 
            $iconCalledMixin: false;
        }
        @else if $lineargradientCalledMixin == true{
            background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);  
            color: fontcouleur($bgcolor);
            $lineargradientCalledMixin: false;
        }
        @else{
            background: $bgcolor; 
            color: fontcouleur($bgcolor);
            *{color: fontcouleur($bgcolor);}
        }
    }
}
@mixin size($width: auto, $height: auto){ 
    width: $width;
    height: $height;
}
@mixin padding($top: 0, $right: 0, $bottom: 0, $left: 0){
    padding: $top $right $bottom $left;
}
@mixin police($family: "Roboto", $familysuite: sans-serif, $weight: 0, $style: normal, $size: 0px, $lineheight: 0px){
    font-family:  $family, $familysuite !important;
    font-weight: $weight;    
    font-style: $style;
    font-size: $size;
    line-height: $lineheight !important;
}
@mixin changerCoeur($solid: false, $regular: true){
    @if ($solid == true){
        .fa-solid{
            display: inline;
        }
        .fa-regular{
            display: none;
        }
    }
    @else{
        .fa-solid{
            display: none;
        }
        .fa-regular{
            display: inline;
        }
    }
}
