@import "./variables.scss";
@mixin flexbox($direction : row, $gap: 0px, $wrap: nowrap, $centrer: true, $important: false){
    @if ($important == false){
        display: flex;
    }
    @else {
        display: flex !important;
    }
    flex-direction: $direction;
    gap: $gap;
    flex-wrap: $wrap;
    @if ($centrer == true){
        justify-content: center;
        align-items: center;
    }
    @else if ($centrer == true){
        justify-content: flex-start;
        align-items: flex-start;
    }
}
@mixin radius($val: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($val != 0){
        border-radius: $val;
    }
    @else{
        border-radius: $top $right $bottom $left;
    } 
}
@mixin shadow($top: 0px, $right: 0px, $bottom: 0px, $left: 0px, $colorshadow: rgba(0, 0, 0, 0.15)){
    box-shadow: $top $right $bottom $left $colorshadow;
}
@mixin bgcolor($bgcolor: white, $element: null){  
    @if ($element == "footer"){
        background: $bgcolor; 
        color: $blanc;
        *{color: $blanc;}
    }
    @else if ($element == "iconheart"){
        background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);  
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent;
        $element: null;
    }
    @else if ($element == "iconnumber"){
        background: $bgcolor;
        color: $blanc;
        $element: null;
    }
    @else if ($element == "linearbtn"){
        background: linear-gradient(360deg, $violet -11.44%, $rose 123.93%);
        color: $blanc;
        $element: null;
    }    
    @else if ($element == "localisation"){
        background: $bgcolor;
        *{color: $grisfonce;}
        $element: null;
    }
    @else if ($element == "new"){
        background: &$bgcolor;
        color: $vertfonce;
        $element: null;
    }
    @else{
        background: $bgcolor; 
        color: $noir;
    }
}
@mixin size($width: auto, $height: auto){ 
    width: $width;
    height: $height;
}
@mixin padding($val: 0, $top: 0, $right: 0, $bottom: 0, $left: 0){
    @if ($val != 0){
        padding: $val;
    }
    @else{
        padding: $top $right $bottom $left;
    }
}
@mixin police($family: "Roboto", $familysuite: sans-serif, $weight: 0, $style: normal, $size: 0px, $lineheight: 0px){
    font-family:  $family, $familysuite !important;
    font-weight: $weight;    
    font-style: $style;
    font-size: $size;
    line-height: $lineheight !important;
}
@mixin changerCoeur($solid: false, $regular: true){
    @if ($solid == true){
        .fa-solid{
            opacity: 1;
        }
        .fa-regular{
            opacity: 0;
        }
    }
    @else{
        .fa-solid{
            opacity: 0;
        }
        .fa-regular{
            opacity: 1;
        }
    }
}
// @mixin survolheart($sens: null){
//     @include animations();
//     @debug $survol;
//     @if ($sens == "normal"){
//         &:hover{
//             .fa-solid{
//                 animation: apparence 2s 0.5s forwards;
//             }
//             .fa-regular{
//                 animation: disparaitre 1s forwards;
//             }
//             $survol: true !global;
//             @debug $survol;
//         }
//     }
//     @if($sens == "reverse"){
//         @if ($survol == true){
//             &:not(:hover){
//                 @debug $survol;
//                 .fa-solid{
//                     animation: disparaitre 2s;
//                 }
//                 $survol : false !global;
//                 @debug $survol;
//             }
//         }
//     }    
//  }
//  @mixin animations(){
//     @keyframes apparence{
//         0%{opacity: 0;}
//         25%{opacity: 0.25;}
//         50%{opacity: 0.5;}
//         75%{opacity: 0.75;}
//         100%{opacity: 1;}
//     }
//     @keyframes disparaitre{
//         0%{opacity: 1;}
//         25%{opacity: 0.75;}
//         50%{opacity: 0.5;}
//         75%{opacity: 0.25;}
//         100%{opacity: 0;}  
//     }
// }